workflows/bienvenida_paciente.json
{
  "name": "Bienvenida Paciente",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bienvenida-paciente",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "bienvenida-paciente"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "secret-check",
              "leftValue": "={{ $json.headers['x-crm-secret'] }}",
              "rightValue": "dRXpyGMsGos8JjjRcgFPZVlxsUB8FlITVt7WrZWSziY",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Valida Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const b = $json.body || {};\nconst nombre = (b.nombre || 'Paciente').split(' ')[0];\nconst clinica = 'OrbitAI Dental';\nconst mensaje = `Hola ${nombre}, te damos la bienvenida a ${clinica}. Recibimos tu registro y muy pronto un asesor te contactará para agendar tu primera valoración. Si tienes dudas responde a este chat.`;\nreturn { json: { paciente_id: b.id, nombre: b.nombre, telefono: b.telefono, correo: b.correo, mensaje, clinica } };"
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Construye Mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 220]
    },
    {
      "parameters": {
        "jsCode": "// Placeholder de envío WhatsApp.\n// Cuando Meta apruebe el número, reemplazar este nodo por\n// 'HTTP Request' → POST https://graph.facebook.com/v21.0/{phone_number_id}/messages\nconsole.log('[whatsapp:placeholder]', JSON.stringify($json));\nreturn { json: { ...$json, enviado: true, canal: 'placeholder' } };"
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Enviar WhatsApp (placeholder)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, mensaje: $json.mensaje, paciente_id: $json.paciente_id }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1100, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 401,
        "responseBody": "={{ JSON.stringify({ ok: false, error: 'invalid secret' }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Responder 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, 420]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Valida Secret", "type": "main", "index": 0 }]] },
    "Valida Secret": {
      "main": [
        [{ "node": "Construye Mensaje", "type": "main", "index": 0 }],
        [{ "node": "Responder 401", "type": "main", "index": 0 }]
      ]
    },
    "Construye Mensaje": { "main": [[{ "node": "Enviar WhatsApp (placeholder)", "type": "main", "index": 0 }]] },
    "Enviar WhatsApp (placeholder)": { "main": [[{ "node": "Responder OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
