workflows/followup_post_tratamiento.json
{
  "name": "Follow-up Post-Tratamiento",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 10 * * *" }] }
      },
      "id": "d1e2f3a4-0001-0001-0001-000000000001",
      "name": "Diario 10:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://db.orbitai.pro/rest/v1/treatments?select=id,paciente_id,nombre_tratamiento,estatus,updated_at,patients(nombre,telefono)&estatus=eq.Completado&updated_at=gte.{{ $now.minus({days: 8}).toISO() }}&updated_at=lt.{{ $now.minus({days: 6}).toISO() }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3Nzg2NDIxNDgsImV4cCI6MTg5MzQ1NjAwMCwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlzcyI6InN1cGFiYXNlIn0.bprwqE9lT80GCp_6EbUlfUh8kAwjgU2ejoz1pt9KVaA" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3Nzg2NDIxNDgsImV4cCI6MTg5MzQ1NjAwMCwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlzcyI6InN1cGFiYXNlIn0.bprwqE9lT80GCp_6EbUlfUh8kAwjgU2ejoz1pt9KVaA" }
          ]
        },
        "options": {}
      },
      "id": "d1e2f3a4-0002-0002-0002-000000000002",
      "name": "Tratamientos completados hace 7 días",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "d1e2f3a4-0003-0003-0003-000000000003",
      "name": "Split",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [620, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const t = $json;\nconst nombre = (t.patients?.nombre || 'paciente').split(' ')[0];\nconst tel = t.patients?.telefono || '';\nconst tratamiento = t.nombre_tratamiento || 'tu tratamiento';\nconst mensaje = `Hola ${nombre}, han pasado 7 días desde tu ${tratamiento}. ¿Cómo te has sentido? Si tienes molestias o dudas, contesta a este mensaje y te ayudamos enseguida. — OrbitAI Dental`;\nreturn { json: { treatment_id: t.id, paciente_id: t.paciente_id, telefono: tel, mensaje } };"
      },
      "id": "d1e2f3a4-0004-0004-0004-000000000004",
      "name": "Construye mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [820, 300]
    },
    {
      "parameters": {
        "jsCode": "console.log('[whatsapp:placeholder]', JSON.stringify($json));\nreturn { json: { ...$json, enviado: true, canal: 'placeholder' } };"
      },
      "id": "d1e2f3a4-0005-0005-0005-000000000005",
      "name": "Enviar WhatsApp (placeholder)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://db.orbitai.pro/rest/v1/notes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3Nzg2NDIxNDgsImV4cCI6MTg5MzQ1NjAwMCwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlzcyI6InN1cGFiYXNlIn0.bprwqE9lT80GCp_6EbUlfUh8kAwjgU2ejoz1pt9KVaA" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3Nzg2NDIxNDgsImV4cCI6MTg5MzQ1NjAwMCwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlzcyI6InN1cGFiYXNlIn0.bprwqE9lT80GCp_6EbUlfUh8kAwjgU2ejoz1pt9KVaA" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ paciente_id: $json.paciente_id, titulo: 'Follow-up 7 días enviado', contenido: $json.mensaje, tipo: 'seguimiento', categoria: 'Automatización', prioridad: 'Media', completada: true }) }}",
        "options": {}
      },
      "id": "d1e2f3a4-0006-0006-0006-000000000006",
      "name": "Registra nota",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1260, 300]
    }
  ],
  "connections": {
    "Diario 10:00": { "main": [[{ "node": "Tratamientos completados hace 7 días", "type": "main", "index": 0 }]] },
    "Tratamientos completados hace 7 días": { "main": [[{ "node": "Split", "type": "main", "index": 0 }]] },
    "Split": { "main": [[{ "node": "Construye mensaje", "type": "main", "index": 0 }]] },
    "Construye mensaje": { "main": [[{ "node": "Enviar WhatsApp (placeholder)", "type": "main", "index": 0 }]] },
    "Enviar WhatsApp (placeholder)": { "main": [[{ "node": "Registra nota", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
