workflows/recordatorio_cita_24h.json
{
  "name": "Recordatorio Cita 24h",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 1 }]
        }
      },
      "id": "b1c2d3e4-0001-0001-0001-000000000001",
      "name": "Cada 1h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://db.orbitai.pro/rest/v1/appointments?select=id,paciente_id,fecha,hora_inicio,motivo,estado,patients(nombre,telefono)&estado=in.(Confirmada,Pendiente)&fecha=eq.{{ $now.plus({days: 1}).toFormat('yyyy-MM-dd') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3Nzg2NDIxNDgsImV4cCI6MTg5MzQ1NjAwMCwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlzcyI6InN1cGFiYXNlIn0.bprwqE9lT80GCp_6EbUlfUh8kAwjgU2ejoz1pt9KVaA" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3Nzg2NDIxNDgsImV4cCI6MTg5MzQ1NjAwMCwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlzcyI6InN1cGFiYXNlIn0.bprwqE9lT80GCp_6EbUlfUh8kAwjgU2ejoz1pt9KVaA" }
          ]
        },
        "options": {}
      },
      "id": "b1c2d3e4-0002-0002-0002-000000000002",
      "name": "Citas de mañana",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "b1c2d3e4-0003-0003-0003-000000000003",
      "name": "Split por cita",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [620, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const a = $json;\nconst nombre = (a.patients?.nombre || 'paciente').split(' ')[0];\nconst tel = a.patients?.telefono || '';\nconst hora = (a.hora_inicio || '').slice(0,5);\nconst motivo = a.motivo || 'tu cita';\nconst mensaje = `Hola ${nombre}, te recordamos tu cita en OrbitAI Dental mañana a las ${hora}h (${motivo}). Responde CONFIRMO para confirmar o REAGENDAR si necesitas cambiarla.`;\nreturn { json: { appointment_id: a.id, paciente_id: a.paciente_id, telefono: tel, mensaje } };"
      },
      "id": "b1c2d3e4-0004-0004-0004-000000000004",
      "name": "Construye mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [820, 300]
    },
    {
      "parameters": {
        "jsCode": "console.log('[whatsapp:placeholder]', JSON.stringify($json));\nreturn { json: { ...$json, enviado: true, canal: 'placeholder' } };"
      },
      "id": "b1c2d3e4-0005-0005-0005-000000000005",
      "name": "Enviar WhatsApp (placeholder)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 300]
    }
  ],
  "connections": {
    "Cada 1h": { "main": [[{ "node": "Citas de mañana", "type": "main", "index": 0 }]] },
    "Citas de mañana": { "main": [[{ "node": "Split por cita", "type": "main", "index": 0 }]] },
    "Split por cita": { "main": [[{ "node": "Construye mensaje", "type": "main", "index": 0 }]] },
    "Construye mensaje": { "main": [[{ "node": "Enviar WhatsApp (placeholder)", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
